* {
	box-sizing: border-box;
}
header {
	text-align: center;
	border-bottom: solid .3em #4aaaa5;
	width: 100%;
}
body{
	text-align: center;
	background-color: #ffffff;
}
footer {
	background-image: url("../images/bgrnd.png");
	padding: 1em;
	border-top: solid .3em #4aaaa5;
	text-align: center;
	color: #fff;
	font-family: "Arial";
	width: 100%;
	padding: 1.5em 0;
}
h2 {
	font-size: 1.5em;
	font-family: "Times New Roman";
	font-weight: bold;
	margin: 20px 0;
}
h1 {
	font-size: 2em;
	font-family: "Times New Roman";
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	color: white;
	background-color: black;
	padding: 1em 0;
}

p {
	font-family: "Comic Sans MS";
	color: white;
	margin: 16px 0;
}
.full-width-answer {
	background-color: black;
	width: 100%;
}
.center-answer {
	background-color: #66ffcc;
	width: 30em;
	margin: 0 auto;
}
.full-width-game {
	/*background-color: #99ccff;*/
	width: 100%;
	background-color: black;
}
.center-game {
	overflow: auto;
	width: 30em;
	margin: 0 auto;
}
.left-game, .right-game {
	width: 15em;
	height: 26em;
	border-width: 3px;
	border-style: dotted;
	border-color: white;
	background-color: black;
}
.left-game {
	/*width: 15em;*/
	/*background-color: #ffcc99;*/
	/*border-style: dotted;*/
	float: left;
}
.right-game {
	/*width: 15em;*/
	/*background-color: #ccff66;*/
	/*border-style: dotted;*/
	float: right;
}

@media screen and (max-width: 640px) {
	.center-game {
		overflow: auto;
		width: 100%;
		margin: 0 auto;
	}
	.center-answer {
		width: 100%;
		margin: 0 auto;
	}
	.left-game, .right-game {
		width: 50%;
	}
}




